{% extends "../base.html" %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'ebooks/auth.css' %}">
{% endblock css %}

{% block title %}Login{% endblock title %}

{% block content %}
	<header class="page-header">
		<h1>Login</h1>
		<p>Login to your existing account.</p>
	</header>
	<div class="auth-form login">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn-primary">เข้าสู่ระบบ</button>
		</form>
		<p>No account? <a href="{% url 'register' %}">Register</a> now!</p>
	</div>
{% endblock content %}