{% extends "base.html" %}
{% load static %}

{% block title %}{{ ebook.title }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'ebooks/read_ebook.css' %}">
{% endblock css %}

{% block content %}
<h2>{{ ebook.title }}</h2>
    <!-- Reader -->
    <div class="reader-container">
        <div class="ebook-page">
            <img src="/media/books/{{ ebook.pk }}/page_{{ page }}.png" alt="">
        </div>

        <!-- Controls -->
        <div class="controls">
            {% if page > 1 %}
                <a href="?page={{ page|add:'-1' }}" class="btn">⬅ Previous</a>
            {% endif %}

            <span class="page-indicator">
                Page {{ page }} / {{ total_pages }}
            </span>

            {% if page < total_pages %}
                <a href="?page={{ page|add:'1' }}" class="btn">Next ➡</a>
            {% endif %}
        </div>

        <!-- Jump -->
        <form method="get" class="jump-form">
            <input 
                type="number" 
                name="page" 
                min="1" 
                max="{{ total_pages }}" 
                value="{{ page }}"
                required
            >
            <button type="submit">Go</button>
        </form>
    </div>
    </script>
{% endblock content %}