{% extends "../base.html" %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'ebooks/list_ebooks.css' %}">
{% endblock css %}

{% block title %}Index{% endblock title %}

{% block content %}
	<header class="page-header">
	  <h1>New E-Books</h1>
	  <p>Learn new crazy things about computer and data science!</p>
	</header>
	<form class="ebooks-search-box" method="get">
		{{ form.as_p }}
		<button type="submit" class="btn-primary">Search</button>
	</form>
	<div class="ebooks-list">
		{% for ebook in ebook_list %}
			<article class="ebooks-card">
				<a href="{% url 'ebook_detail' pk=ebook.pk %}"><img class="ebooks-img" src="media/{{ ebook.cover }}" alt=""></a>
				<h2 class="ebooks-title"><a href="{% url 'ebook_detail' pk=ebook.pk %}">{{ ebook.title }}</a></h2>
				<p class="ebooks-author">{{ ebook.author }}</p>
				<hr>
				<div class="ebooks-group-data">
					<p class="ebooks-category">{{ ebook.get_category_display }}</p>
				</div>
				<p class="ebooks-publish-date">{{ ebook.publish_date }}</p>
			</article>
		{% endfor %}
	</div>
{% endblock content %}