{% extends "base.html" %}
{% load static %}

{% block title %}{{ ebook.title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'ebooks/ebooks_detail.css' %}">
{% endblock %}

{% block content %}
<div class="ebook-layout">
    <div class="ebook-left">
        <img src="{{ ebook.cover.url }}" class="ebook-cover">
    </div>
    <div class="ebook-right">
        <header>
            <h1>{{ ebook.title }}</h1>
            <p>Author: {{ ebook.author }}</p>
            <p>Category: <a href="{% url 'list_ebook' %}?category={{ ebook.category }}" class="tag">{{ ebook.get_category_display }}</a></p>
        </header>
        <hr>
        <p>{{ ebook.description }}</p>
        <div class="ebook-buttons">
            <a href="{{ ebook.sample.url }}" target="_blank" class="btn-primary">
                Preview
            </a>
		    {% if ebook.post_status == 'P' %}
                <a href="{% url 'read_ebook' ebook.pk %}" class="btn-secondary">
                    Full Page
                </a>
            {% else %}
                <button href="#" class="btn-secondary" disabled>
                    Unpublished
                </button>
			{% endif %}
        </div>
        <p class="tag-groups">
            {% for tag in ebook.tags.all %}
                <a href="{% url 'list_ebook' %}?tag={{ tag.name }}" class="tag">{{ tag.name }}</a>
            {% endfor %}
        </p>
    </div>

</div>
{% endblock %}